html.cyclops html {
  position: relative;
  min-height: 100%;
}
html.cyclops body {
  background: #f5f5f5;
  margin: 0;
}
html.cyclops .main-column {
  margin-bottom: 100px;
}
html.cyclops footer {
  font-size: 12px;
  padding: 1em 1.5em;
  bottom: 0;
  height: 40px;
  background-color: #eee;
  width: 100%;
}
html.cyclops main.container {
  padding-top: 30px;
}
html.cyclops footer p {
  margin: 0;
}
html.cyclops .pl-color-swatch {
  font-weight: 600;
  float: left;
  width: 100%;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
html.cyclops .fill-greengrey {
  background-color: #404c43;
}
html.cyclops .fill-moss {
  background-color: #58776a;
}
html.cyclops .fill-forestgreen {
  background-color: #5e9354;
}
html.cyclops .fill-green {
  background-color: #8cc63f;
}
html.cyclops .fill-lightgreen {
  background-color: #b8e288;
}
html.cyclops .fill-seafoam {
  background-color: #59b082;
}
html.cyclops .fill-blue {
  background-color: #597c97;
}
html.cyclops .fill-yellow {
  background-color: #f1ee6b;
}
html.cyclops .fill-orange {
  background-color: #f5a934;
}
html.cyclops .fill-red {
  background-color: #d44747;
}
html.cyclops .top-anchor {
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: fixed;
  bottom: 2em;
  right: 1.5em;
  color: #fff;
  display: none;
  opacity: 0.6;
  padding: 1em;
  text-decoration: none;
  transition: 0.2s;
}
html.cyclops .top-anchor:hover {
  opacity: 1;
}
html.cyclops .top-anchor .cyclops-icon use {
  fill: #ffffff;
}
html.cyclops .img-thumbnail {
  max-width: 100%;
  border: 1px solid #d9d9d9;
  padding: 7px;
}
html.cyclops .cyclops-hero {
  padding: 60px 40px 40px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
html.cyclops .cyclops-hero .logo {
  width: 100px;
  margin: 0 auto;
}
html.cyclops .cyclops-hero h1 {
  letter-spacing: 15px;
  font-weight: 600;
}
html.cyclops .cyclops-hero .lead {
  margin-bottom: 40px;
}
html.cyclops .pl-section {
  margin-bottom: 70px;
}
html.cyclops .pl-section h1 a {
  text-decoration: none;
}
html.cyclops .pl-section h1 a:hover {
  text-decoration: underline;
}
html.cyclops .primary-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}
html.cyclops .pl-options {
  border: 1px solid #d9d9d9;
  padding: 40px 20px 20px;
}
html.cyclops .pl-options:after {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Options';
}
html.cyclops .pl-example {
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 40px 20px 20px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 25px;
  position: relative;
}
html.cyclops .pl-example iframe {
  width: 100%;
  height: 300px;
  border: solid 1px #eee;
}
html.cyclops .pl-example .container {
  width: auto;
}
html.cyclops .pl-example:after {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Example';
}
html.cyclops .pl-example .card {
  max-width: 300px;
}
html.cyclops .pl-example > .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
html.cyclops .pl-example > .nav.nav-stacked {
  margin-top: 0;
}
@media (min-width: 768px) {
  html.cyclops .pl-example > .nav.nav-stacked {
    max-width: 300px;
  }
}
html.cyclops .pl-actions {
  margin: 10px 0;
}
html.cyclops .pl-show-grid-container {
  padding: 0 20px;
}
html.cyclops .pl-show-grid {
  margin-bottom: 15px;
}
html.cyclops .pl-show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}
html.cyclops .icon-display {
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
  height: 100px;
}
html.cyclops .icon-display:hover {
  background-color: #fff;
}
html.cyclops .nav-cyclops {
  background-color: #fcfcfc;
  border-width: 0;
  padding: 10px 15px 5px;
}
html.cyclops .nav-cyclops:before,
html.cyclops .nav-cyclops:after {
  content: " ";
  display: table;
}
html.cyclops .nav-cyclops:after {
  clear: both;
}
html.cyclops .nav-cyclops .navbar-brand {
  width: 45px;
  height: 40px;
  border: none;
  padding: 9px 15px 0 0;
}
html.cyclops .nav-cyclops .navbar-nav {
  border-bottom: none;
}
html.cyclops .nav-cyclops .navbar-nav li {
  font-weight: 400;
  letter-spacing: 1px;
}
html.cyclops .nav-cyclops .navbar-nav li a {
  border-radius: 5px;
  padding: 12px;
}
html.cyclops .nav-cyclops .cyclops-icon {
  width: 21px;
  height: 21px;
}
html.cyclops .nav-cyclops .navbar-cl-logo {
  display: none;
}
html.cyclops .nav-cyclops .navbar-toggle {
  margin-right: 0;
  border-color: #d9d9d9;
}
html.cyclops .nav-cyclops .navbar-toggle .icon-bar {
  background-color: #999;
}
@media (min-width: 768px) {
  html.cyclops .nav-cyclops .navbar-cl-logo {
    display: block;
    width: 127px;
    height: 33px;
    float: right;
    margin-top: 10px;
  }
  html.cyclops .nav-cyclops .navbar-toggle {
    margin-right: 15px;
  }
}
html.cyclops #cyclops-nav-stacked {
  margin-top: -30px;
}
@media (min-width: 768px) {
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.hljs {
  padding: 0.5em 2em;
}
pre {
  display: block;
  padding: 0;
  margin: 0;
}
pre > code {
  overflow: auto;
}
.pl-example + pre {
  margin-top: -46px;
}
.pl-example + pre code {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
pre code + code {
  border-top: 1px solid #555;
  margin-top: -46px;
}
pre.show-type code {
  position: relative;
  padding-top: 1.6em;
}
pre.show-type code:after {
  position: absolute;
  top: 10px;
  padding: 2px 9px;
  background-color: #6b5a5a;
  font-size: 10px;
  color: #fff;
  left: 0;
  border: solid 1px #151114;
}
pre.show-type code.javascript:after {
  content: "JavaScript";
}
pre.show-type code.css:after {
  content: "CSS";
}
pre.show-type code.less:after {
  content: "LESS";
}
pre.show-type code.markdown:after {
  content: "Markdown";
}
pre.show-type code.json:after {
  content: "HTML";
}
pre.show-type code.html:after {
  content: "HTML";
}

/*# sourceMappingURL=site.css.map */
